.banner
  position: relative
  height: 1000px
  background: url(../../assets/img/banner.jpg)
  background-repeat: no-repeat
  width: 100%
  background-size: cover
  background-position: center top
  border-radius: 0px 0px 24px 24px
  &__box
    max-width: 899px
    display: grid
    gap: 56px
    margin-top: 213px
  &__title
    color: #fff
    font-size: 64px
    font-weight: 500
  &__subtitle
    color: #fff
    font-size: 20px
    font-weight: 400
    line-height: 130%
  &__text
    color: $gray-lighten-3
    font-size: 20px
    font-weight: 400
    line-height: 130%
  .header .container
    padding-left: 0
    padding-right: 0

.advantages
  &__box
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 72px
  &__item
    display: grid
    gap: 16px
    svg
      margin-bottom: 16px
      width: 96px
      height: 96px
  &__item-title
    color: $gray-darken-2
    font-size: 20px
    font-weight: 500
    line-height: 130%
  &__item-desc
    color: $gray-text
    font-size: 20px
    font-weight: 400
    line-height: 130%
