
.calendar
  &__box
    margin-top: 32px
    display: grid
    grid-template-columns: repeat(4, minmax(218px, 408px))
    gap: 32px 24px
  &__item
    display: grid
    gap: 24px
    justify-content: start
    justify-items: start
    &:nth-of-type(2n) .calendar__date-box
      background: $gray-lighten-2
      .calendar__date
        color: $gray-darken-2
        font-size: 16px
        & svg path
          fill: $gray-darken-2
  &__title-date
    display: grid
    gap: 16px
  &__img
    border-radius: 8px
    max-height: 229px
  &__date-box
    padding: 8px 16px
    border-radius: 4px

    background: $green
  &__date
    display: grid
    grid-auto-flow: column
    gap: 8px
    color: #fff
    font-size: 16px
    font-weight: 500
    line-height: 130%
    position: relative
    align-items: center
    svg
      width: 24px
      height: 24px
  &__desc-box
    display: grid
    gap: 8px
  &__item-title
    color: $gray-darken-3
    font-size: 24px
    font-weight: 500
    line-height: 130%
  &__desc-label
    color: $gray-darken-3
    font-size: 16px
    font-weight: 500
    line-height: 130%
  &__desc
    color: $gray-text
    text-overflow: ellipsis
    font-size: 16px
    font-weight: 400
    line-height: 130%

.request
  .title
    color: #fff
  &__box
    display: grid
    grid-auto-flow: column
    gap: 8px
    grid-template-columns: minmax(856px, 1128px) minmax(264px, 568px)
  &__btn-box
    padding: 56px 40px
    border-radius: 24px
    background: $green
    display: grid
    gap: 40px
    justify-items: start
    position: relative
    &::before
      content: ""
      background: url(../../assets/img/request-icon.svg)
      background-repeat: no-repeat
      background-size: cover
      width: 32px
      height: 32px
      right: 24px
      position: absolute
      top: 24px
  &__img
    border-radius: 24px
    max-height: 342px
    width: 100%
    object-fit: cover
  &__btn
    padding: 23px 55px
    border-radius: 4px
    background: #fff
    border: 1px solid #fff
    color: $gray-darken-3
    font-size: 20px
    font-weight: 500
    line-height: 130%
    transition: border $anim, color $anim
    &:active, &:focus, &:hover
      border: 1px solid $green
      color: $green

.catalog
  &__box
    margin-top: 32px
    display: grid
    gap: 24px
    grid-template-columns: repeat(4, 1fr)
    @media all and ($xl)
      grid-template-columns: repeat(3, 1fr)
  &__item
    border-radius: 8px
    padding: 32px 24px
    height: 408px
    position: relative
    overflow: hidden
    &:active, &:focus, &:hover
      .catalog__background
        clip-path: ellipse(240px 229px at 100% 100%)
  &__background
    position: absolute
    background-repeat: no-repeat
    background-size: cover
    width: 362px
    height: 362px
    right: 0
    bottom: 0
    clip-path: ellipse(230px 219px at 100% 100%)
    transition: clip-path $anim
    overflow: hidden
  &__content
    display: grid
    gap: 16px
  &__title
    color: $gray-darken-3
    font-size: 20px
    font-weight: 500
    line-height: 130%
  &__desc
    color: $gray-text
    overflow: hidden
    font-size: 14px
    font-weight: 400
    line-height: 130%
    height: 36px
    white-space: nowrap
    text-overflow: ellipsis
  &__desc
    white-space: normal
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical

.info
  &__box
    display: grid
    padding: 40px
    grid-auto-flow: column
    height: 632px
    border-radius: 24px
    background: url(../../assets/img/info.jpg)
    background-position: center
    align-items: end
    justify-content: space-between
    gap: 60px
    @media all and ($xl)
      grid-auto-flow: row
      gap: 24px
      align-content: end
  .title
    color: #FFF
    font-size: 72px
    font-weight: 500
    line-height: normal
  &__text
    width: 584px
    justify-self: end
    color: #FFF
    font-size: 20px
    font-weight: 400
    line-height: 130%
    @media all and ($xl)
      justify-self: start

.reviews
  &__video
    max-width: 264px
    height: 383px
    border-radius: 8px
    @media all and ($xl)
      max-width: 174px
      height: 253px
  &__video-box
    max-width: 264px
    height: 383px
    border-radius: 8px
    overflow: hidden
    position: relative
    @media all and ($xl)
      max-width: 174px
      height: 253px
  &__video-desc-box
    position: absolute
    bottom: 16px
    left: 16px
    z-index: 99
    display: grid
    gap: 4px
  &__video-title
    color: #FFF
    font-size: 14px
    font-weight: 500
    line-height: 130%
  &__video-city
    color: $gray-lighten-4
    font-size: 12px
    font-weight: 400
    line-height: 130%
  .title
    padding-bottom: 32px
  .swiper-slide
    width: 264px !important
    @media all and ($xl)
      width: 174px !important

.map
  margin-top: 32px
  width: 100%
  height: 674px
  @media all and ($xl)
    height: 472px

.form-block
  &__box
    display: grid
    grid-auto-flow: column
    gap: 8px
    grid-template-columns: minmax(856px, 1128px) minmax(264px, 568px)
  &__img
    min-height: 922px
    width: 100%
    object-fit: cover
    border-radius: 8px
  &__contact-block
    display: grid
    gap: 24px
    align-items: start
  &__contact-wrapper
    display: grid
    grid-auto-flow: column
    gap: 16px
    justify-content: start
  &__contact-text
    color: #fff
    font-size: 24px
    font-weight: 500
    line-height: 130%
  &__contact-link
    cursor: pointer
    padding: 7px 11px
    border-radius: 36px
    border: 1px solid #fff
    background: #FFF
    display: grid
    grid-auto-flow: column
    gap: 8px
    align-items: center
    transition: border $anim
    p
      color: $gray-darken-3
      font-size: 20px
      font-weight: 400
      line-height: 130%
      transition: color $anim
    &:active p, &:hover p, &:focus p
      color: $green
    &:active, &:hover, &:focus
      border: 1px solid $green
