*
  box-sizing: border-box

.container
  max-width: 1704px
  padding-left: 100px
  padding-right: 100px
  margin: 0 auto
  min-width: 320px
  @media all and ($xl)
    max-width: 1194px
    padding-left: 75px
    padding-right: 75px
  @media all and ($l)
    max-width: 1128px
    padding-left: 36px
    padding-right: 36px
  @media all and ($m)
    max-width: 920px
    padding-left: 20px
    padding-right: 20px
  @media all and ($s)
    max-width: 328px
    padding-left: 16px
    padding-right: 16px
  &.grid
    display: grid

body
  font-family: $Int
  line-height: normal
  margin: 0
  min-height: 100vh
  position: relative

ul
  list-style-type: none
  padding-inline-start: 0
a,
p,
li,
ul,
span
  margin-block-start: 0
  margin-block-end: 0
  margin-inline-start: 0px
  margin-inline-end: 0px

h1, h2
  margin-block-start: 0
  margin-block-end: 0

a 
  text-decoration: none

button
  padding-block: 0
  padding-inline: 0
  border-width: 0
  cursor: pointer
  background: transparent

img
  max-width: 100%

.title
  color: $gray-darken-3
  font-family: $Int
  font-size: 48px
  font-weight: 500
  
section
  margin-bottom: 112px
